/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .custom-col{
        flex: 0 0 50%;
        max-width: 50%;
        width: 200px;
    }
   
}
