/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
.start-end{
    background-color: rgb(92, 201, 201);
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
}
.border-logo{
    border: 2px dashed black;
    background-color: rgb(238, 178, 65);
    
}
#Logo{
 margin: 0 20px 0 20px;
}
.sezioni{
    height: 50%;
    width: 100%;
    background-color: rgb(34, 23, 176);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
.blocco-rosa{
    background-color: rgb(238, 120, 194);
    height: 150px;
    width: 400px;
    border: 3px dashed rgb(0, 0, 0);
    margin: 30px 0 30px 0;
}
.sezione-bianca{
    background-color: white
}
.sezione-grey{
    background-color: rgb(211, 211, 211);
}
.blocco-60{
    background-color: rgb(220, 24, 24);
    height: 150px;
    width: 400px;
    margin: 30px 0 30px 0;
}
.box40{
    height: 150px;
    width: 250px;
    background-color: rgb(25, 0, 255);
    border: 3px dashed rgb(0, 0, 0);
}
.box30{
    height: 150px;
    width: 170px;
    background-color: rgb(25, 0, 255);
    border: 3px dashed rgb(0, 0, 0);
}
.boxgreen{
    height: 450px;
    width: 570px;
    background-color: green;
    margin: 30px 0 30px 0;
    border: 3px dashed rgb(0, 0, 0);

}
.ssezione-blacklight{
    background-color: rgb(48, 47, 47);
}